body {
    font-family: Arial, sans-serif;
    background-color: lightblue; 
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #bec92b;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px;
}

header {
    text-align: center;
}

h1 {
    color: #333;
    margin: 0;
    font-weight: bold; 
}

p {
    color: #666;
    font-weight: bold; 
}

.info {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.left, .right {
    flex-basis: 48%;
}

h2 {
    color: #333;
    font-weight: bold; 
}

.skills {
    margin-top: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background-color: #007BFF;
    color: #fff;
    display: inline-block;
    margin: 5px;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold; 
}


header img {
    border: 5px solid black; 
}
